@import './vars';
@import './mixins';

.gamepad-focus-highlighter {
  position: fixed;

  pointer-events: none;

  top: 0;
  left: 0;
  width: calc(var(--gamepad-focus-highlighter-width, 0));
  height: calc(var(--gamepad-focus-highlighter-height, 0));

  transform: translateX(calc(var(--gamepad-focus-highlighter-left, 0))) translateY(calc(var(--gamepad-focus-highlighter-top, 0)));

  z-index: $z-index-focus-highlighter;

  transition: transform .15s ease;

  @include highlight;

  &--full-screen {
    visibility: hidden;
  }
}