@import './vars';

.gamepad-pointer {
  $size: $pointer-size / 2;

  position: fixed;

  top: calc(var(--gamepad-pointer-top) - #{$size});
  left: calc(var(--gamepad-pointer-left) - #{$size});

  z-index: $z-index-pointer;
  width: $pointer-size;

  background: rgba($color-highlight, 0.2);
  border-radius: 100%;

  &::after {
    content: "";

    display: block;
    padding-bottom: 100%;
  }

  transform: scale(0);
  transition: transform 0.8s ease;

  &--active {
    transform: scale(1);
  }
}