@import '../../node_modules/simple-keyboard/build/css/index';

@import './mixins';

.gamepad-virtual-keyboard {
  position: fixed;
  width: 100%;
  z-index: $z-index-keyboard;

  bottom: 0;
  left: 0;

  color: #181818;
  font-size: 1.5rem;
  font-weight: 600;

  transform: translateY(100%);
  transition: transform .4s ease;

  &--active {
    transform: translateY(0%);
  }

  .hg-keyMarker {
    @include highlight;
  }
}