$size: 210px;

$size_half: $size / 2;

.gamepad-pointer {
  position: fixed;
  
  top: calc(var(--gamepad-pointer-top) - #{$size_half});
  left: calc(var(--gamepad-pointer-left) - #{$size_half});

  z-index: 99998;
  width: $size;

  transform: scale(0);
  transition: transform 0.8s ease;

  background: rgba(0, 162, 255, 0.2);
  border-radius: 100%;

  &::after {
    content: "";

    display: block;
    padding-bottom: 100%;
  }

  &--active {
    transform: scale(1);
  }
}
