.gamepad-pointer {
  position: fixed;
  top: var(--gamepad-pointer-top);
  left: var(--gamepad-pointer-left);

  z-index: 99999;
  width: 210px;

  transform: scale(0);
  transition: transform 0.8s ease;

  background: rgba(0, 162, 255, 0.2);
  border-radius: 100%;

  &::after {
    content: "";

    display: block;
    padding-bottom: 100%;
  }

  &--active {
    transform: scale(1);
  }
}
